html{
    box-sizing: border-box;
}
*,*::before,*::after{
    box-sizing: border-box;
    font-family: 'Padauk', sans-serif;
}
.header{
    background-color: #fff;
    display: flex;
}
h5{
    color: #008000;
    font-size: xx-large;
    font-weight: 900;
    position: relative;
    left: 1200px;
    top: 30px;
}
.one{
    background-color: #fff;
    display: flex;
}
.one>img{
    position: relative;
    left: 350px;
}
#one{
    position: relative;
    left: 350px;
    top: 120px;
}
.orange{
    color: #ffa500;
}
.green{
    color: #008000;
}
button{
    background-color: #ffa500;
    border-radius: 15px 15px 15px 15px;
}
button:hover{
    color: #fff;
}
.two{
    padding: 50px 0 10px 0;
    color: #fff;
    background-image: url(../assets/bg2.jpg);
    display: flex;
    justify-content: space-evenly;
}
h2{
    color: #008000;
    text-align: center;
}
.two>.left>img,.two>.center>img,.two>.right>img{
    position: relative;
    left: 200px;
    
}
.three{
    display: flex;
}
form{
    background-color: #ffa500;
    width: 40%;
    padding: 20px 0 20px 50px;
    border-radius: 15px 15px 15px 15px;
}
.pizza{
    background-color: #ffa500;
    width: 40%;
}
.footer{
    text-align: center;
    background-color: #adff2f;
    padding: 50px 0 30px 0;
}
.footer p{
    font-size: xx-large;
    font-weight: 500;
}
.copyright{
    background-color: #000000;
    text-align: center;
    font-weight: 900;
    font-size: x-large;
    padding: 20px 0 10px 0;
}